body{
	font-family: 'Varela Round', sans-serif;
	font-size: 25px;
	color: #535B62;
	background-color: #f7f7f7;
}
.base{
	height: 100%;
	margin:50px 100px 100px 100px; 
	display: grid;
	grid-gap: 30px;
}

.line{
	border-color: #535B62;
	border-width: 4px;
	border-radius: 3px;
	max-width: 100%;
	margin: 0px;

}

.title{
	margin: 0px 0px 10px 0px;
}

.container{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	margin: 0px 0px 400px 0px;

}
.btn-primary{
	width: 12rem;
	text-transform: uppercase;
}

.radius{
	border-radius: 3px;
}

.btn-primary:hover{
	background-color: #535B62;
	border-color: #535B62;
	box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 10px;
}

.header{
	border-color: #12947f;
	background-image: linear-gradient(to top, #2fc4b2,#12947f);
}

.cover{
	border-color: #eb4559;
	background-image: linear-gradient(to bottom, #f78259,#eb4559);
}

.project-grid{
	background-color: #32407b;
	background-image: linear-gradient(#32407b,#32407b);
}
.footer{
	border-color: #cf7500;
	background-image: linear-gradient(0deg,#f0a500,#cf7500);
}
.end{
	color: #A0A6AA; 
	font-size: 12px;
	margin: 0px ;
	text-align: center;
}
.menu{
	display:flex;
	justify-content: space-between;
	border-color: #12947f;
	background-image: linear-gradient(to top, #2fc4b2,#12947f);
}
.space1{
	display:flex;
	margin: 1rem;
}
.space2{
	margin: 1rem;
}
.nav-link{
	font-size: 20px;
	color:#f7f7f7;
	margin: 5px;
}
.nav-link:hover{
	animation: pulse 1s;
	background-color: #f7f7f7;
	border-color: #f7f7f7;
	box-shadow: #f7f7f7;
	color: #2c7873;
}

.cover-page{
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: #eb4559;
	background-image: linear-gradient(to bottom, #f78259,#eb4559);
	color: #f7f7f7;
	height: 400px;
}
h1{
	font-size: 25px;
}

.project-grid-page{
	background-color: #709fb0;
	display: flex;
    height: 100%;
}
 .zone {
   /* display:block;*/
    display: flex;
    justify-content: center;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.img{
	background-color: white;
}



